* {
    font-family: Arial, Helvetica, sans-serif;
margin: 50px;
}
.circulo {
width: 150px;
height: 150px;
background-color: green;
border-radius: 100%;
flex-direction: row;
justify-content: center;
}
.rectangulo {
    width: 250px;
    height: 100px;
    background-color: blue;
    border: 3px;
    flex-direction: row;
    justify-content: center;
}
.triangulo {
     width: 0;
     height: 0;
     border-right: 100px solid transparent;
     border-top: 100px solid transparent;
     border-left: 100px solid transparent;
     border-bottom: 100px solid purple;
}
.rombo {
    width: 100px; 
     height: 100px; 
     background: yellow;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
}